<div data-id="{{ block.id }}">
  
</div>

{% schema %}
  {
    "name": "Kanes Gallery",
    "target": "section",
    "templates": ["product", "index"],
    "settings": [
      
    ]
  }
{% endschema %}